# Copy this to .env.local and fill in your values

# Mapbox token (from mapbox.com — use your public token)
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZGhlZWJoYW5qIiwiYSI6ImNtbTZrMWh1ZDBlbXcycHE0Mno1Z2x0dXUifQ.Jc1bhlR9KAla9En6aJy13A

# URL of your running FastAPI backend
NEXT_PUBLIC_API_URL=http://localhost:8000